.admin-link {
  display           : grid;
  padding-bottom    : 4rem;

  &-types {
    display         : flex;
    flex-direction  : column;
    margin          : 0 2rem 1rem 2rem;
    padding         : 1rem 2rem;
    background-color: #fff;

    &-title {
      font-size: 1.4rem;
      padding  : 1rem 0;
    }
  }

  &-addnew {
    display         : flex;
    justify-content : center;
    align-items     : center;
    justify-self    : center;
    width           : 8rem;
    height          : 8rem;
    font-size       : 4rem;
    font-weight     : 900;
    color           : #fff;
    background-color: #eaeaea;
    border-radius   : 64%;
  }

  &-item {
    margin : .5rem 0;
    padding: .5rem;

    &-title {
      padding: .5rem 1rem;
    }

    &-wrap {
      padding  : .5rem;
      font-size: 1.2rem;
    }

    &-name {
      margin-right: .5rem;
      max-width   : 8rem;
    }
  }
}