/*
* 小屏幕通用配置（max-width: 1200px)
*/
@media screen and (max-width: 1200px) {
}
/*
 * 手机通用配置(max-width: 768px)
 */
@media screen and (max-width: 768px) {
  .home {
    &__medium {
      // 搜索栏
      .search--bar {
        &-wrap {
          width: 88vw;
        }
      }
    }

    // 右边栏
    &__rightbar {
      width: 72vw;
    }
  }

  // 导航表单行列显示
  .list__item--link {
    grid-template-columns: 1fr 1fr;
  }
}
