/*
 * @Description: 首页使用CSS
 * @version: 1.0.0
 * @Author: Miya
 * @Date: 2020-05-26 21:30:00
 * @LastEditors: Miya
 * @LastEditTime: 2020-05-27 18:49:32
 */
.home {
  display           : grid;
  grid-template-rows: 4rem 4fr 1fr;
  width             : 100vw;
  height            : 100vh;

  &--top {
    display        : flex;
    flex-direction : row;
    justify-content: flex-end;
    align-items    : center;
    padding        : 1rem;
  }

  &--medium {
    padding: 12vh 0;

    .search--bar {
      text-align: center;

      &-logo {
        margin: 4vh 0;

        img {
          margin   : 0 auto;
          max-width: 24rem;
        }
      }

      &-wrap {
        display        : inline-flex;
        justify-content: space-between;
        align-items    : center;
        padding        : 0 .5rem;
        width          : 64vw;
        border         : 1px solid #dedede;
        border-radius  : 32px;
      }

      &-choose {
        position: relative;
        cursor  : pointer;
        
        .choose-engine {
          display  : none;
          position : absolute;
          top      : 100%;
          left     : 50%;
          transform: translateX(-50%);
          padding : 1rem;
          box-shadow: 0 0 2px 2px rgba(0,0,0,.08);

          &-wrap {
            padding: .5rem;
            background-color: #fff;
          }
        }
      }

      &-input {
        width: 100%;

        input {
          padding  : 1rem 0;
          width    : 100%;
          font-size: 1rem;
          border   : none;

          &:focus {
            outline: none;
          }
        }
      }

      &-submit {
        padding: 1rem;
      }
    }
  }

  &--bottom {
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
    align-items    : center;

    .copyright {
      padding: 1rem;
    }
  }
}