/*
 * @Description: 项目列表组建
 * @version: 1.0.0
 * @Author: Miya
 * @Date: 2020-05-26 21:00:19
 * @LastEditors: Miya
 * @LastEditTime: 2020-06-03 00:48:22
 */
.list {
  position: absolute;
  top: 2rem;
  right: 2rem;

  &--button {
    width     : 2rem;
    height    : 2rem;
    background: none;
    border    : none;
    cursor    : pointer;

    &:focus {
      outline: none;
    }
  }

  &--items {
    
  }
}