@import './global/var.less';

.mermaid {

  // sidecard
  &__side-card {
    margin          : 2rem;
    min-height      : 8rem;
    background-color: @blur-component-color;
    border-radius   : @border-radius;
  }

  // button
  &__button {
    min-width    : 5rem;
    height       : 2rem;
    border       : 1px solid #888;
    border-radius: 1rem;
  }
}