/*
 * @Description: 统一浏览器差异化
 * @version: 1.0.0
 * @Author: Miya
 * @Date: 2020-05-26 20:49:35
 * @LastEditors: Miya
 * @LastEditTime: 2020-06-05 00:05:50
 */ 
* {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  box-sizing : border-box;
  margin     : 0;
  padding    : 0;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

ul,
li {
  list-style-type: none;
}

img{
  max-width: 100%;
}

// 32px
h1 {
  font-size: 2rem;
  line-height: 2.4;
}

// 28px
h2 {
  font-size: 1.75rem;
  line-height: 2.2;
}

// 26px
h3 {
  font-size: 1.625rem;
  line-height: 2;
}

// 24px
h4 {
  font-size: 1.5rem;
  line-height: 2;
}

// 20px
h5 {
  font-size: 1.25rem;
  line-height: 1.5;
}

p,
a {
  font-size: 1rem;
  line-height: 1.2;
  text-decoration: none;
}