/*
 * @Description: 使用的文字变量
 * @version: 1.0.0
 * @Author: Miya
 * @Date: 2020-05-26 18:18:46
 * @LastEditors: Miya
 * @LastEditTime: 2020-06-05 00:30:53
 */

// 链接菜单启动
.link-active{
  transform: translateX(0%);
  transition-timing-function: ease-in;
  transition-duration: .4s;
}