.setting__logoff {
  .layout-flex(flex, column, space-between, center, wrap);

  // Normal Avatar
  &--avatar {
    .layout-flex(flex, row, center, center);
    flex: 1;
  }

  // Button list
  &--setting {
    .layout-flex(flex, row, center, center);
    flex: 1;
    margin-top: 1rem;

    // button
    &--button {
      margin: 0.5rem;
      height: 2rem;
      color: @pri-text-dark;
      border: 1px solid #888;
      cursor: pointer;
      border-radius: @border-radius;
    }
  }
}
